In [3]:
import pandas as pd

In [3]:
df = pd.read_excel('./data/감성대화말뭉치_train_싱글턴_준비.xlsx')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51630 entries, 0 to 51629
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   감정_소분류  51630 non-null  object
 1   사람문장1   51630 non-null  object
 2   시스템문장1  51630 non-null  object
 3   사람문장2   51630 non-null  object
 4   시스템문장2  51630 non-null  object
 5   사람문장3   42695 non-null  object
 6   시스템문장3  42695 non-null  object
dtypes: object(7)
memory usage: 2.8+ MB

In [5]:
df_copy1 = df.copy()
df_copy2 = df.copy()
df_copy3 = df.copy()

df_copy1.drop(labels=['사람문장2', '시스템문장2', '사람문장3', '시스템문장3'], axis=1, inplace=True)    # 사람문장 1
df_copy2.drop(labels=['사람문장1', '시스템문장1', '사람문장3', '시스템문장3'], axis=1, inplace=True)    # 사람문장 2
df_copy3.drop(labels=['사람문장1', '시스템문장1', '사람문장2', '시스템문장2'], axis=1, inplace=True)    # 사람문장 3

df_copy1.columns = ['label','question', 'response']
df_copy2.columns = ['label','question', 'response']
df_copy3.columns = ['label','question', 'response']

In [8]:
df_copy1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51630 entries, 0 to 51629
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   label     51630 non-null  object
 1   question  51630 non-null  object
 2   response  51630 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [9]:
# 싱글턴 만들기
# 세 DataFrame을 번갈아가며 합치기
result_rows = [row for pair in zip(df_copy1.values, df_copy2.values, df_copy3.values) for row in pair]
result_df = pd.DataFrame(result_rows, columns=df_copy1.columns)
result_df.head()

,label,question,response
0,노여워하는,일은 왜 해도 해도 끝이 없을까? 화가 난다.,많이 힘드시겠어요. 주위에 의논할 상대가 있나요?
1,노여워하는,그냥 내가 해결하는 게 나아. 남들한테 부담 주고 싶지도 않고.,혼자 해결하기로 했군요. 혼자서 해결하기 힘들면 주위에 의논할 사람을 찾아보세요.
2,노여워하는,NaN,NaN
3,노여워하는,이번 달에 또 급여가 깎였어! 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나.,급여가 줄어 속상하시겠어요. 월급이 줄어든 것을 어떻게 보완하실 건가요?
4,노여워하는,최대한 지출을 억제해야겠어. 월급이 줄어들었으니 고정지출을 줄일 수밖에 없을 것 같아.,월급이 줄어든 만큼 소비를 줄일 계획이군요.

In [11]:
result_df.dropna(inplace=True)
result_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 145954 entries, 0 to 154889
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   label     145954 non-null  object
 1   question  145954 non-null  object
 2   response  145954 non-null  object
dtypes: object(3)
memory usage: 4.5+ MB

In [12]:
result_df.to_excel('./data/감성대화말뭉치_train_싱글턴_완성.xlsx', index=False)

In [14]:
# 싱글턴 완성 파일에서 엑셀 함수이용 -> 어투 변경 (의문문->평서문)
df = pd.read_excel('./data/감성대화말뭉치_train_싱글턴_완성.xlsx')
df.drop(['before_response', '수식결과'], axis=1, inplace=True)
df.head()

,label,question,response
0,노여워하는,일은 왜 해도 해도 끝이 없을까? 화가 난다.,많이 힘드시겠어요. 주위에 의논할 상대가 있는지 궁금해요.
1,노여워하는,그냥 내가 해결하는 게 나아. 남들한테 부담 주고 싶지도 않고.,혼자 해결하기로 했군요. 혼자서 해결하기 힘들면 주위에 의논할 사람을 찾아보세요.
2,노여워하는,이번 달에 또 급여가 깎였어! 물가는 오르는데 월급만 자꾸 깎이니까 너무 화가 나.,급여가 줄어 속상하시겠어요. 월급이 줄어든 것을 어떻게 보완하실 건가요?
3,노여워하는,최대한 지출을 억제해야겠어. 월급이 줄어들었으니 고정지출을 줄일 수밖에 없을 것 같아.,월급이 줄어든 만큼 소비를 줄일 계획이군요.
4,노여워하는,회사에 신입이 들어왔는데 말투가 거슬려. 그런 애를 매일 봐야 한다고 생각하니까 스...,회사 동료 때문에 스트레스를 많이 받는 것 같아요. 문제 해결을 위해 어떤 노력을 ...

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145954 entries, 0 to 145953
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   label     145954 non-null  object
 1   question  145954 non-null  object
 2   response  145954 non-null  object
dtypes: object(3)
memory usage: 3.3+ MB

In [15]:
df_val = pd.read_excel('./data/감성대화말뭉치_val_싱글턴_완성.xlsx')
df_val.drop(['before_response', '수식결과'], axis=1, inplace=True)
df_val.head()

,label,question,response
0,두려운,이번 프로젝트에서 발표를 하는데 내가 실수하는 바람에 우리 팀이 감점을 받았어. 너...,실수하시다니 정말 미안한 마음이 크겠어요.
1,두려운,내 능력이 부족한 거 같은데 그만 다녀야 될거같아.,능력을 올리려면 어떤 방법이 있을지 저와 얘기해 봐요.
2,두려운,퇴근 후 여가에 회사 일을 더 열심히 해서 피해가 가지 않도록 해야겠어.,꼭 좋은 결과 있길 바라요.
3,두려운,회사에서 중요한 프로젝트를 혼자 하게 됐는데 솔직히 두렵고 무서워.,큰 프로젝트를 혼자 하셔서 고민이 많겠네요.
4,두려운,나에게 너무 크게 느껴지는 중요한 프로젝트라 버거운 느낌이 들어.,프로젝트를 잘하시기 위해서 어떤 걸 할 수 있는지 궁금해요.

In [18]:
df_val.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17968 entries, 0 to 17967
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   label     17968 non-null  object
 1   question  17968 non-null  object
 2   response  17968 non-null  object
dtypes: object(3)
memory usage: 421.2+ KB

In [16]:
# train/val 데이터 합치기
chatbot_df = pd.concat([df, df_val], axis=0)
chatbot_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 163922 entries, 0 to 17967
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   label     163922 non-null  object
 1   question  163922 non-null  object
 2   response  163922 non-null  object
dtypes: object(3)
memory usage: 5.0+ MB

In [19]:
# train/val 데이터 저장
chatbot_df.to_excel('./data/감성대화말뭉치_train_val_싱글턴_완성.xlsx', index=False)

In [1]:
dir_path = './data/'
sampling_cnt = 2000

def get_emotion():
    emotion_df = pd.read_excel(dir_path + '감성대화말뭉치_train_val_싱글턴_완성.xlsx')
    return emotion_df

def get_song_emotion():
    # 송영숙 데이터 챗봇에 추가하기
    song_df = pd.read_excel(dir_path + '송영숙 챗봇 학습용 데이터.xlsx')
    song_df = song_df.dropna()

    # 라벨 없는 행 제거
    song_df = song_df[(song_df['label']==0) | (song_df['label']==1) | (song_df['label']==2)]

    song = pd.DataFrame(columns=['label', 'Q', 'A']) 
    for label, group in song_df.groupby('label'):
        selected_rows = group.sample(n=min(sampling_cnt, len(group)), replace=False)  # 각 그룹에서 최대 30개의 행을 랜덤하게 선택
        song = pd.concat([song, selected_rows])  # 선택된 행을 결과 데이터프레임에 추가
    song.reset_index()
    song.columns = ['label', 'question', 'response']

    return song

def get_merge_data():
    df1 = get_emotion()  # 감성말뭉치 데이터
    df2 = get_song_emotion()  # 송영숙 데이터
    
    # 송영숙 챗봇 데이터와, 감성 말뭉치 합치기
    df1 = df1[['question', 'response']]
    df2 = df2[['question', 'response']]
    song_emotion_df = pd.concat([df2, df1])
    song_emotion_df.reset_index(inplace=True, drop=True)

    return song_emotion_df

In [5]:
merge_df = get_merge_data()
# 감성대화말뭉치 + 송영숙 데이터
merge_df.to_excel('./data/감성대화말뭉치(train+val)_송영숙_싱글턴_완성.xlsx', index=False)